<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Books</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="books-header-div">
    <h1>Your Books</h1>
    <a class="add-book" href="books/new">Add Another Book</a>
  </div>
    <ul>
      <%books.forEach(book => { %>
      <li><a class ='book-cards' href="/books/<%=book._id%>"> <%=book.title%></a></li>
      <% })%>
    </ul>

    <a href="/">Home</a>
  </body>
</html>
